@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: auto !important;
  height: 100%;;
}

body {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 40px;
  font: 14px/1.5 'Open Sans',sans-serif;
  color: #345;
  background: #f0f2f4;
}

p:not(:last-child) {
  margin: 0 0 20px;
}

main {
  max-width: 100%;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

.post-container {
    margin: 20px 20px 0 0;  
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 820px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

